.welcome{
  font-size: 3em;
  text-align: center;
  margin: 2em 0 0 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.results{
  font-size: 1em;
  align-items: center;
  justify-items: center;
  text-align: left;
  padding: 20;
  max-width: 1200;
  margin: auto;
}